@import './palette.scss';
@import './home.scss';
@import './view_item.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:100,300');

#reactbody {
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: $color1;
  font-weight: 300;
  border: none;
  outline:none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $color2;
  }
}

div, p, span {
  font-family: 'Raleway', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
  }
}
