.movie_widget {
  border: 2px black solid;
  background-color: white;
  height: 278px;
}

.movie_widget_percentage {
  height: 20px
}

.movie_widget_left {
  float: left;
}

.movie_widget_right {
  padding-left: 185px;
}

.movie_widget_header_wrapper {
  display: flex;
}

.movie_widget_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
